/*
__________________________________________________    F I R R M --
 |          |   |          \          \           \   
 |   ////////   |   ////  _/   ////  _/   .   .   |   Created  by:         
 |          |   |          |          |   |   |   |   Kareem Faraj
 |   ,======|   |   ,==,   |   ,==,   |   |   |   |   
 |   |      |   |   |  |   |   |  |   |   |   |   |   created  on:     
 |___|      |___|___|  |___|___|  |___|___|___|___|   10  04  2023

created on:  |  updated:    |  updated:    |  updated:       | last update: |
10 04 2023   |  14 04 2023  |  06 06 2023  |  28 03 2024     | 28 03 2025   |
             |              |              |  New FIRRM logo | Major update |

Description:        Firrm is a simple css framework just created
                    for testing new languages  that i learn like
                    JavaScript php Python and Backend frameworks
                    like  Django,  Node.JS  Laravel   and   more.

HOW TO USE FIRRM?:  Visit Firrm.rf.gd

*/

/* imports 
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
*/

:root {
    --black     :#000;   
    --white     :#fff;   
    --lgray     :#f1f1f1;
    --gray      :#ddd;    
    --dgray     :#444;    
    --lsky      :#c5f2ff;
    --sky       :#00eaff;
    --lblue     :#60b0fb;
    --blue      :#2466f5;
    --ltrqz     :#69f2c9;
    --trqz      :#21edb0;
    --llemon    :#9dee67;
    --lemon     :#7bda28;
    --lgreen    :#67ffb8;
    --green     :#24ce7f;
    --lprpl     :#636eff;
    --prpl      :#563df5;
    --lorng     :#f0a94d;
    --orng      :#ee723d;
    --lred      :#f67282;
    --red       :#ee3d52;
    --lyellow   :#f7ebbb; 
    --yellow    :#ffe26d;
}
/* MISC A */
*               {font-family: 'Readex Pro', sans-serif;
                 -webkit-tap-highlight-color: transparent;
                 scroll-behavior:smooth;
                 scroll-padding-top: 5em;}

a               {color: black;text-decoration: none;}
                 
body            {margin:0; padding: 8px;}
p, label, span  {padding:0 6px;margin: 0; font-size: 14px;}
hr, .line       {border:0;border-top:1px solid #88888888;}

.hover, .hoverz, .hoverblue, .hoverlsky, .hoverblack, .hovergray,
.hoverbluesh                {transition:.1s;}

.hover:hover, .hoverz:hover    {transition: .1s;}
.hover:hover                   {opacity: 80%;}
.hoverz:hover                  {transform: scale(1.05);}
.hoverblack:hover              {background: var(--black); color: var(--white);}
.hovergray:hover               {background: var(--gray); color: var(--black);}

.hoverblue       {border: 1px #00000000;}
.hoverblue:hover {background: #f3fbfe;
                  transition: 0.3s;
                  border: 1px solid #0978ff;}

.hoverbluesh:hover {box-shadow: 0 2px 5px var(--lblue);}
.hoverlblue:hover  {background: var(--lblue);}
.hoverlsky:hover   {background: var(--lsky);}

/* Directons */
.rtl {direction: rtl;}
.ltr {direction: ltr;}

/*      test    */

/* Header */ 
header          {z-index: 9;}
.nav            {background: #fff;
                 box-shadow: 0 3px 5px #171b460a;
                 position: fixed;
                 margin: -8px;
                 padding: 10px; 
                 width: 100%;
                 align-items: center;}

header img {
    height: 30px;
}


/* buttons */
button, .btn{    margin: 4px;
                 padding: 6px 16px;
                 width: fit-content;
                 transition: 0.2s;
                 cursor: pointer;
                 border: none;
}

.btn-black       {background: var(--black  );color: white;}
.btn-white       {background: var(--white  );}
.btn-lgray       {background: var(--lgray  );}
.btn-gray        {background: var(--gray   );}
.btn-dgray       {background: var(--dgray  );color: white;}
.btn-blue        {background: var(--blue   );color: white;}
.btn-lblue       {background: var(--lblue  );}
.btn-sky         {background: var(--sky    );}
.btn-lsky        {background: var(--lsky   );}
.btn-trqz        {background: var(--trqz   );}
.btn-ltrqz       {background: var(--ltrqz  );}
.btn-lemon       {background: var(--lemon  );}
.btn-llemon      {background: var(--llemon );}
.btn-prpl        {background: var(--prpl   );}
.btn-lprpl       {background: var(--lprpl  );}
.btn-red         {background: var(--red    );}
.btn-lred        {background: var(--lred   );}
.btn-orng        {background: var(--orng   );}
.btn-lorng       {background: var(--lorng  );}
.btn-green       {background: var(--green  );}
.btn-lgreen      {background: var(--lgreen );}
.btn-yellow      {background: var(--yellow );}
.btn-lyellow     {background: var(--lyellow);}


                               
button:hover,
.btn:focus      {color: #4887e6;}

/*//////////////////////////////////////////////////////////////////


                <div class="cardi mrgnii brrr">
                    <div class="flex mrgni" style="align-items: center; justify-content:space-between;">
                        <h2 class=" mrgnno">Welcome</h2>
                        <i class="material-icons">info</i>
                    </div>
                    <p class="opacityi">
                        Welcome to Kromium, a digital agency that provides innovative solutions for businesses. We specialize in graphic design, web development, and digital marketing services to help you grow your business online. Our team of experts will work with you to create a custom solution that meets your needs and exceeds your expectations. Contact us today to learn more about how we can help you achieve your goals.
                    </p>
                </div>


                <div class="cardi mrgnii brrr">
                    <div class="flex mrgni" style="align-items: center; justify-content:space-between;">
                        <h2 class=" mrgnno">Welcome</h2>
                        <i class="material-icons">info</i>
                    </div>
                    <p class="opacityi">
                        Welcome to Kromium, a digital agency that provides innovative solutions for businesses. We specialize in graphic design, web development, and digital marketing services to help you grow your business online. Our team of experts will work with you to create a custom solution that meets your needs and exceeds your expectations. Contact us today to learn more about how we can help you achieve your goals.
                    </p><hr>
                    <div>
                        <button class="brrr">About</button>
                        <button class="brrr">Learn more</button>
                    </div>
                </div>
                       ==============
                           LAYOUT
                       ==============
///////////////////     CARDS POSTS    //////////////////*/

/* Card */
.card           {padding: 8px;
                 background: #fff;
                 margin: 8px;
                 min-width: fit-content;
                 height: fit-content;}
                 
.cardi          {
                padding: 8px;
                background: #fff;
                margin: 8px;
                min-width: fit-content;
                height: fit-content;
                border: 1px solid #00000033;
                }  
.cardii         {
                padding: 8px;
                background: #fff;
                margin: 8px;
                border-radius: 8px;
                min-width: fit-content;
                height: fit-content;
                border: 1px solid #00000033;
                }  

/*/////////////////// POSTS  /////////////////
posti txt
      img

postii img
       txt

*/
/* Copy this post code and paste in html document 

<div class="post card bg-white brrr">
    <div class="top">
        <div class="postinfo">
            <div class="postpic"> <!-- profile pic -->
                <img src="" class="propica">
            </div>

            <div class="posttext"> <!-- profile info and date -->
                <div class="name b">Kareem Faraj</div>
                <p class="date opacityiii">7, Nov 2021 6:12 pm</p>
            </div>
        </div>
        <p>
            post txt
        </p>
    </div>
    <img class="media" src=""> <!-- post img -->
</div>

*/

/*       POSTS STYLING       */

.posts {
    margin: 1.5em;
}

.posts .post {
    color: #000000ab;
    width: 100%;
    padding: 0;
    margin: 8px 0;
}

.posts .post .top {
    padding: 12px;
}

.posts .post .top .propica {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border: 1px solid #88888888;
    border-radius: 100px;
    margin: 0 8px 0 0;
}

.posts .post .postinfo {
    display: flex;
    padding-bottom: 8px;
}

.posts .post .top .name {
    font-weight: bold;
    font-size: 17px;
    padding-left: 6px;
    align-items: center;
    padding-bottom: 8px;
}

.posts .post .top .date {
    font-size: 8px; 
}
.posttext i{
    font-size: 10px;
} 

.posts .post .media {
    width: 100%;
    border-radius: 0 0 16px 16px;
    margin-bottom: -4px;
    max-height: 256px;
    object-fit: cover;
}

/*////////////////////////////////////////////////////////*/
/*** FEATURES ***/
/*
<section class="features">

    <div class="border brrr">
        <img src="">
        <div class="pdnii">
            <div class="ttiii b"> Title </div>
            <hr>
            <p> text </p>
        </div>
    </div>

</section>
*/
.features .card {
    min-width: 300px;
    max-width: 600px ;
    margin: 8px;
    padding: 0;
}
.features img {
    object-fit: cover;
    max-width:100%;
    margin: 0;
    border-radius: 16px 16px 0 0;
}

/*////////////////////////////////////////////////////////*/


/*       SIDE DRAWER        *//*
HTML:
<section class="drawer-container scroll">
    <div class="drawer-toggle">
        <div class="miconcontainer" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="drawer-content txtl"><br><br><br>
        <!-- Buttons -->
        <a href="">
            <div class="drawerbtn">
                <div class="btncontent b">
                    <i class="drawericons material-icons">home</i><span>Home</span>
                </div>
            </div>
        </a>
        <div class="drawerfooter">
            <!-- for add some icons -->
        </div>
    </div>
</section>

CSS:                                                          */

/* 
/*        /* animated menu icon */
/*        .miconcontainer {
/*            display: inline-block;
/*            cursor: pointer;
/*        }
/*
/*        .bar1,
/*        .bar2,
/*        .bar3 {
/*            width: 30px;
/*            height: 3px;
/*            border-radius: 100px;
/*            background-color: #0c121f;
/*            margin: 5px 0;
/*            transition: 0.2s;
/*        }
/*
/*        /* after click */
/*        .change .bar1 {
/*            transform: translate(0, 8px) rotate(-45deg);
/*        }
/*
/*        .change .bar2 {
/*            opacity: 0;
/*        }
/*
/*        .change .bar3 {
/*            transform: translate(0, -8px) rotate(45deg);
/*        }
/*
/*        /************  DRAWER ************/
/*        .drawer-container {
/*            position: fixed;
/*            top: 0;
/*            bottom: 0;
/*            left: -100%;
/*            overflow: auto;
/*            background: #000;
/*            /* Position off-screen by default */
/*            width: 20%;
/*            transition: left 0.2s ;
/*            color: white;
/*        }
/*
/*        .drawer-container.open {
/*            left: 0;
/*            /* Slide in from the left when open */
/*        }
/*
/*        .drawer-toggle {
/*            position: fixed;
/*            top: 13px;
/*            left: 15px;
/*            z-index: 1;
/*            cursor: pointer;
/*            font-size: 30px;
/*            font-family: sans-serif;
/*        }
/*
/*        .drawer-content {
/*            padding: 20px;
/*        }
/*
/*        @media screen and (max-width: 800px){
/*            .drawer-container{
/*                width:300px
/*            }
/*        }
/**/

/*////////////////////////////////////////////////////////*/


/*       TABS        */
.tabs-container {
    max-width: 800px;
    margin: 20px auto;
}

.tab-buttons {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background: #f1f1f1;
    border: none;
    outline: none;
    transition: background 0.3s;
}

.tab-button:hover {
    background: #000000;
}

.tab-button.active {
    background: var(--black);
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: none;
}

.tab-content.active {
    display: block;
}


/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.container      {padding:8px;
                 margin:8px;}

.brr            {border-radius:8px;}
.brrr           {border-radius:1em;}
.crcl           {border-radius: 100px;}
.crcli          {border-radius:100px;
                 padding:1em;
                 width:1em;
                 height:1em;
                 min-width: max-content;
                 min-height: max-content;
                 margin:4px;}
                 
.crclii         {border-radius:100px;
                 padding:1em;
                 width:2em;
                 height:2em;
                 min-width: max-content;
                 min-height: max-content;
                 margin:4px;}
                             
.crcliii        {border-radius:100px;
                 padding:1em;
                 width:3em;
                 height:3em;
                 min-width: max-content;
                 min-height: max-content;
                 margin:4px;}

.propic         {min-width: 64px;
                 height: 64px;
                 background: #dcdcdc;
                 border-radius: 100px;
                 margin: 4px;
                 object-fit: cover;}

/* scroll */
.scroll         {overflow: auto;
                 display: flex;
                 margin: 0 -8px;
                 width: 100%;
                 padding: 8px;}

/* Input */
input           {background: #e1ecff;
                 border: none;
                 padding: 4px 10px;
                 margin: 4px;}


/*//////////////     RWD    ///////////////*/

/* container */ 
.panels{
    display: flex;
}
    /* childs 
       
        + Two panels ------+
      1 | - left   = 20%   |
      2 | - right  = 80%   |
        +------------------+

        + Three panels ----+
      1 | - left   = 20%   |
      2 | - center = 60%   |
      3 | - right  = 20%   |
        +------------------+

        | panel-l = left panel
        | panel-c = center panel
        | panel-r = right panel

    Example of 2 panels 2:8
    <div class="panels">
        <div class="panel-20 mrgn- pdnii bg-lred">This is the left panel with 20% of total screen width in PC screens, and top panel in phone screens</div>
        <div class="panel-80 mrgn- pdnii bg-lgreen">This is the right panel with 80% of total screen width in PC screens, and bottom panel in phone screens</div>
    </div>

    Example of 3 panels 2:6:2
    <div class="panels">
        <div class="panel-20 mrgn- pdnii bg-lred">This is the left panel with 20% of total screen width in PC screens, and top panel in phone screens</div>
        <div class="panel-60 mrgn- pdnii bg-lblue">This is the middle panel with 60% of total screen width in PC screens, and middle in phone screens</div>
        <div class="panel-20 mrgn- pdnii bg-lgreen">This is the right panel with 20% of total screen width in PC screens, and bottom panel in phone screens</div>
    </div>

    */
     
    .panel-10  {width: 10%;}
    .panel-15  {width: 15%;}
    .panel-20  {width: 20%;}
    .panel-25  {width: 25%;}
    .panel-30  {width: 30%;}
    .panel-35  {width: 35%;}
    .panel-40  {width: 40%;}
    .panel-45  {width: 45%;}
    .panel-50  {width: 50%;}
    .panel-55  {width: 55%;}
    .panel-60  {width: 60%;}
    .panel-65  {width: 65%;}
    .panel-70  {width: 70%;}
    .panel-75  {width: 75%;}
    .panel-80  {width: 80%;}
    .panel-85  {width: 85%;}
    .panel-90  {width: 90%;}
    .panel-95  {width: 95%;}

    /* for 800px screens */
@media screen and (max-width:800px) {
    /* container */
    .panels {display: block;}
    /* panels */
    .panel-10,  /* |||||| */
    .panel-15,  /* |||||| */
    .panel-20,  /* |||||| */
    .panel-25,  /* |||||| */
    .panel-30,  /* |||||| */
    .panel-35,  /* |||||| */
    .panel-40,  /* |||||| */
    .panel-45,  /* |||||| */
    .panel-50,  /* |||||| */
    .panel-55,  /* |||||| */
    .panel-60,  /* |||||| */
    .panel-65,  /* |||||| */
    .panel-70,  /* |||||| */
    .panel-75,  /* |||||| */
    .panel-80,  /* |||||| */
    .panel-85,  /* |||||| */
    .panel-90,  /* |||||| */
    .panel-95   {width: 100%;}
}


/*  margin and padding  */
.pdnno          {padding: 0;}
.pdni           {padding: 8px;}
.pdnii          {padding: 1em;}
.pdniii         {padding: 1.5em;}

.mrgn-          {margin:  -8px;}
.mrgnno         {margin:  0;}
.mrgni          {margin:  8px;}
.mrgnii         {margin:  1em;}
.mrgniii        {margin:  1.2em;}
/***/



/*/////////////////////////////////////////////////////////////////// 
added 27/03/2025 while developing Kromium project
                            ===============
                                Justify
                            ===============
*/
.jcc            {justify-content: center}
.jcl            {justify-content: left}
.jcr            {justify-content: right}
.jcsa           {justify-content: space-around}
.jcsb           {justify-content: space-between}
.jcse           {justify-content: space-evenly}

/*
<div class="cardi txtr mrgnii brrr introcard">
<div class="flex mrgni" style="align-items: center; justify-content:space-between;">
    <i class="material-icons">info</i>
    <h2 class=" mrgnno">اهلا وسهلا بك</h2>
</div>
<p class="opacityi">
    كروميوم هو موقع ويب تقني وتجاري يضم مشاريع متخصصة في البرمجيات والخدمات الرقمية، موجهة للأعمال
    والأفراد. يركز كروميوم على الذكاء الاصطناعي، الأتمتة، وتطوير الويب، ويوفر حلولًا مبتكرة لتسهيل
    العمليات وتحسين الكفاءة عبر البرمجيات الذكية والتقنيات الحديثة.
</p>
<hr>
<div class="cardfooter flex jcsb">
    <div>
        <button class="brrr b">زرار</button>
    </div>
    <div>
        <button class="brrr b">حول</button>
        <button class="brrr b">معرفة المزيد</button>
    </div>
</div>
</div>
*/

/*/////////////////////////////////////////////////////////////////// 
added 28/03/2025 while developing Kromium project
                            ===============
                               Alignment
                            ===============
*/
/* items alignment */
.algitemsc      {align-items:center;}
.algitemse      {align-items:end;}
.algitemse      {align-items:start;}
.algitemss      {align-items:stretch;}
.algitemsb      {align-items:baseline;}

/* content alignment */
.algcontc       {align-content:center;}
.algconte       {align-content:end;}
.algcontss      {align-content:stretch;}
.algcontsb      {align-content:baseline;}
.algcontsa      {align-content:space-around;}
.algcontsb      {align-content:space-between;}
.algcontse      {align-content:space-evenly;}

/* vertical alignment */
.valgnt         {vertical-align: top;}
.valgnm         {vertical-align: middle;}
.valgnb         {vertical-align: bottom;}


/*///////////////////////////////////////////////////////////////////
                            ================
                             WIDTH & HEIGHT
                            ================
*/
.widthfitc      {width: fit-content;}
.widthminc      {width: min-content;}
.widthmaxc      {width: max-content;}
.widthi         {width: .5em}
.widthii        {width: 1em;}
.widthiii       {width: 2em;}
.widthfull      {width: 100%;}
.width10px      {width: 10px;}
.width20px      {width: 20px;}
.width30px      {width: 30px;}
.width40px      {width: 40px;}
.width50px      {width: 50px;}
.width60px      {width: 60px;}
.width70px      {width: 70px;}
.width80px      {width: 80px;}
.width90px      {width: 90px;}
.width100px     {width: 100px;}
.width200px     {width: 200px;}
.width300px     {width: 300px;}
.width400px     {width: 400px;}
.width500px     {width: 500px;}
.width600px     {width: 600px;}

.heightfitc     {height: fit-content;}
.heightminc     {height: min-content;}
.heightmaxc     {height: max-content;}
.heighti        {height: .5em;}
.heightii       {height: 1em;}
.heightiii      {height: 2em;}
.heightfull     {height: 100%;}
.height10px     {height: 10px;}
.height20px     {height: 20px;}
.height30px     {height: 30px;}
.height40px     {height: 40px;}
.height50px     {height: 50px;}
.height60px     {height: 60px;}
.height70px     {height: 70px;}
.height80px     {height: 80px;}
.height90px     {height: 90px;}
.height100px    {height: 100px;}
.height200px    {height: 200px;}
.height300px    {height: 300px;}
.height400px    {height: 400px;}
.height500px    {height: 500px;}
.height600px    {height: 600px;}

/*//////////////////////////////////////////////////////////////////
                             ==============
                             GLOBAL STYLING
                             ==============
    */
    /* colors */
    .black          {color:      var(--black  );}
    .white          {color:      var(--white  );}
    .lgray          {color:      var(--lgray  );}
    .gray           {color:      var(--gray   );}
    .dgray          {color:      var(--dgray  );}
    .blue           {color:      var(--blue   );}
    .lblue          {color:      var(--lblue  );}
    .sky            {color:      var(--sky    );}
    .lsky           {color:      var(--lsky   );}
    .trqz           {color:      var(--trqz   );}
    .ltrqz          {color:      var(--ltrqz  );}
    .lemon          {color:      var(--lemon  );}
    .llemon         {color:      var(--llemon );}
    .prpl           {color:      var(--prpl   );}
    .lprpl          {color:      var(--lprpl  );} 
    .red            {color:      var(--red    );}
    .lred           {color:      var(--lred   );}
    .orng           {color:      var(--orng   );}
    .lorng          {color:      var(--lorng  );}
    .green          {color:      var(--green  );}
    .lgreen         {color:      var(--lgreen );}
    .yellow         {color:      var(--yellow );}
    .lyellow        {color:      var(--lyellow);}
    /* backgrouds */ 
    .bg-no          {background:   #00000000 ;}
    .bg-blur        {backdrop-filter: blur(1em);}
    .bg-black       {background: var(--black  );}
    .bg-white       {background: var(--white  );}
    .bg-lgray       {background: var(--lgray  );}
    .bg-gray        {background: var(--gray   );}
    .bg-dgray       {background: var(--dgray  );}
    .bg-blue        {background: var(--blue   );}
    .bg-lblue       {background: var(--lblue  );}
    .bg-sky         {background: var(--sky    );}
    .bg-lsky        {background: var(--lsky   );}
    .bg-trqz        {background: var(--trqz   );}
    .bg-ltrqz       {background: var(--ltrqz  );}
    .bg-lemon       {background: var(--lemon  );}
    .bg-llemon      {background: var(--llemon );}
    .bg-prpl        {background: var(--prpl   );}
    .bg-lprpl       {background: var(--lprpl  );}
    .bg-red         {background: var(--red    );}
    .bg-lred        {background: var(--lred   );}
    .bg-orng        {background: var(--orng   );}
    .bg-lorng       {background: var(--lorng  );}
    .bg-green       {background: var(--green  );}
    .bg-lgreen      {background: var(--lgreen );}
    .bg-yellow      {background: var(--yellow );}
    .bg-lyellow     {background: var(--lyellow);}

    /***********  GRADIENT                                                    ***********/   
    /***          CANCELED bcz it'll take 676 line                            ***//*
    .bg-gt-redxblack     {background: linear-gradient( to top,  var(--red),   var(--black  ));}
    .bg-gt-redxwhite     {background: linear-gradient( to top,  var(--red),   var(--white  ));}
    .bg-gt-redxgray      {background: linear-gradient( to top,  var(--red),   var(--gray   ));}
    .bg-gt-redxblue      {background: linear-gradient( to top,  var(--red),   var(--blue   ));}
    .bg-gt-redxlblue     {background: linear-gradient( to top,  var(--red),   var(--lblue  ));}
    .bg-gt-redxprpl      {background: linear-gradient( to top,  var(--red),   var(--prpl   ));}
    .bg-gt-redxlprpl     {background: linear-gradient( to top,  var(--red),   var(--lprpl  ));}
    .bg-gt-redxred       {background: linear-gradient( to top,  var(--red),   var(--red    ));}
    .bg-gt-redxlred      {background: linear-gradient( to top,  var(--red),   var(--lred   ));}
    .bg-gt-redxgreen     {background: linear-gradient( to top,  var(--red),   var(--green  ));}
    .bg-gt-redxlgreen    {background: linear-gradient( to top,  var(--red),   var(--lgreen ));}
    .bg-gt-redxyellow    {background: linear-gradient( to top,  var(--red),   var(--yellow ));}
    .bg-gt-redxlyellow   {background: linear-gradient( to top,  var(--red),   var(--lyellow));}
    
    .bg-gt-blackxblack   {background: linear-gradient( to top,  var(--black), var(--black  ));}
    .bg-gt-blackxwhite   {background: linear-gradient( to top,  var(--black), var(--white  ));}
    .bg-gt-blackxgray    {background: linear-gradient( to top,  var(--black), var(--gray   ));}
    .bg-gt-blackxblue    {background: linear-gradient( to top,  var(--black), var(--blue   ));}
    .bg-gt-blackxlblue   {background: linear-gradient( to top,  var(--black), var(--lblue  ));}
    .bg-gt-blackxprpl    {background: linear-gradient( to top,  var(--black), var(--prpl   ));}
    .bg-gt-blackxlprpl   {background: linear-gradient( to top,  var(--black), var(--lprpl  ));}
    .bg-gt-blackxred     {background: linear-gradient( to top,  var(--black), var(--red    ));}
    .bg-gt-blackxlred    {background: linear-gradient( to top,  var(--black), var(--lred   ));}
    .bg-gt-blackxgreen   {background: linear-gradient( to top,  var(--black), var(--green  ));}
    .bg-gt-blackxlgreen  {background: linear-gradient( to top,  var(--black), var(--lgreen ));}
    .bg-gt-blackxyellow  {background: linear-gradient( to top,  var(--black), var(--yellow ));}
    .bg-gt-blackxlyellow {background: linear-gradient( to top,  var(--black), var(--lyellow));}
    

    /*    */
    .opacityno      {opacity:  0%;}
    .opacityi       {opacity: 80%;}
    .opacityii      {opacity: 60%;}
    .opacityiii     {opacity: 40%;}

    
    /* texts */
    .tt             { /*font-family: 'Readex Pro', sans-serif;*/ padding:2px 8px;}
    .tti            { /*font-family: 'Readex Pro', sans-serif;*/ font-size:45px;padding:2px 8px;}
    .ttii           { /*font-family: 'Readex Pro', sans-serif;*/ font-size:35px;padding:2px 8px;}
    .ttiii          { /*font-family: 'Readex Pro', sans-serif;*/ font-size:25px;padding:2px 8px;}
    .stxt           { /*font-family: 'Readex Pro', sans-serif;*/ font-size:12px;}
    .txtc           {text-align : center;}
    .txtr           {text-align : right; }
    .txtl           {text-align : left;  }
    .b              {font-weight: bold;  }
    del, .del       {color: var(--red);} 
    /* Fonts */
    .f-mono         {font-family: monospace;}
    .f-serif        {font-family: serif;}

    .fszi           {font-size:10px;}
    .fszii          {font-size:14px;}
    .fsziii         {font-size:16px;}
    .fsziiii        {font-size:18px;}
    .fsz20          {font-size:20px;}
    .fsz30          {font-size:30px;}
    .fsz40          {font-size:40px;}
    .fsz50          {font-size:50px;}
    .fsz60          {font-size:60px;}
    .fsz70          {font-size:70px;}
    .fsz80          {font-size:80px;}

    /* Display */
    .flex           {display: flex;}

    /* Effects */
    .border         {border: 1px solid #bbb;}

    .shadow         {box-shadow: 0 2px 6px #00000033}
    .shadowl        {box-shadow: 0 2px 6px #0077ff77}

    /* mouse */ 
    .pointer{
        cursor: pointer;
    }
/*/////////////////////////////////////////////////////////////////*/